[buildout]
extends =
    config/base.cfg

extensions +=
    mr.developer

parts +=
    instance
    fixperms

auto-checkout = *
sources = sources

[sources]
santagostino.plonetheme = svn https://code.redturtle.it/svn/comune-di-santagostino/santagostino.plonetheme/trunk/

[fixperms]
recipe = plone.recipe.command
command = chown -R ${config:system-user}:${config:system-user} ${buildout:directory}
update-command = ${fixperms:command}
